$green-color: #1dc99b;
$text-color: #63568f;
$home-color:#3c2d74;
$white-color: #ffffff;
$nav-color:#364253;
$header-color:#261563;
$light-background: #f3fcfa;
$footer-color: #d2f5ec;
$icon-bg: #c0dede;
$hamburger-color: #0a0a0afb;